.login_info{
    display: block;
}
.common_title2 a{
    color:#666;
}
.common_title2 a:hover{
    color:#f80;
}
#forget_botton{
    width: 50px;
    text-align: center;
    margin-left: 150px;
}
.site_con .form_group div {
    color:red;
    display: none;
    text-align: right;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
}