{% extends 'g_base_top_rightsearch.html' %}
	{% block header %}
<title>天天生鲜-用户中心</title>
		<link rel="stylesheet" type="text/css" href="/static/usermode/css/1.css">
		<script type="text/javascript" src="/static/usermode/js/1.js"></script>

	{% endblock header %}
    {% block right_search_page_center %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/usermode/user_center_info/">· 个人信息</a></li>
				<li><a href="user_center_order.html">· 全部订单</a></li>
				<li><a href="user_center_site.html" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2" id="common_title2_h3">收货地址</h3>
				<div class="site_con">
					<dl  id="site_con_dl">
						<dt>默认地址：</dt>
						<dd>
							{% if has_addrList == 'no' %}
							无
							{% else %}
								{% if defaultAddress == 'no' %}
								无
								{% else %}
								{{defaultAddress.uaddress}}&nbsp;&nbsp;&nbsp;&nbsp;({{defaultAddress.userName}} &nbsp;收) &nbsp;&nbsp;&nbsp;&nbsp; {{defaultAddress.uphone}}
								{% endif %}
							{% endif %}
						</dd>
					</dl>
					<dl>
						<dt>设置默认地址：</dt>
						<dd>
							<form>
								<select name="address" id="address_def">
																									<option value="0">请选择收货地址</option>
									{% if has_addrList == 'yes' %}
										{% for x in useraddress %}

										<option value="{{x.id}}">{{x.uaddress}}&nbsp;&nbsp;&nbsp;&nbsp;({{x.userName}} &nbsp;收) &nbsp;&nbsp;&nbsp;&nbsp; {{x.uphone}}</option>
										{% endfor %}
									{% endif %}
								</select>
							</form>
						</dd>
					</dl>					
				</div>



				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form id="site_con_form1">
						{% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" id="username" name="username">
							<div class="err_info">输入错误</div>
						</div>
						<div class="form_group form_group2" style="height: 150px">
							<label>详细地址：</label>
							<select value="0" id="pro" name="pro">
								<option value="0">请选择省</option>
								{% for x in shenlist %}
								<option value="{{x.id}}">{{x.atitle}}</option>
								{% endfor %}
							</select>
							<select value="0" id="city" name="city">
								<option value="0">请选择市</option>
							</select>
							<select value="0" id="dis" name="dis">
								<option value="0">请选择区</option>
							</select>
							<br>
							<textarea style="margin-left: 100px" class="site_area" id="useraddress" name="useraddress"></textarea>
							<div  class="err_info">输入错误</div>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" id="ucode" name="ucode">
							<div  class="err_info">输入错误</div>
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="tel" id="uphone" name="uphone">
							<div class="err_info">输入错误</div>
						</div>

						<input type="button" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>
{% endblock right_search_page_center %}
