{% extends 'g_base_top_rightsearch.html' %}
	{% block header %}
		<link rel="stylesheet" type="text/css" href="/static/usermode/css/1.css">
		<script>
		$(function (){
			$('#pro').change(function(){
				$('#city').empty().append('<option value="0">请选择市</option>')
				$('#dis').empty().append('<option value="0">请选择县</option>')
				var val=$(this).val();
				if(val==0){
					return;
				}
				$.get('/usermode/getshi/'+val+'/',function(data){
					$city=$('#city')
					$.each(data.list,function(index,item){
					$city.append('<option value="'+item[0]+'">'+item[1]+'</option>')
				})
				})
			})
			$('#city').change(function(){
				$('#dis').empty().append('<option value="0">请选择县</option>');
				var val=$(this).val();
				if(val==0){
					return;
				}
				$.get('/usermode/getshi/'+val+'/',function(data){
					$dis=$('#dis')
					$.each(data.list,function(index,item){
						$dis.append('<option value="'+item[0]+'">'+item[1]+'</option>');
					})
				})
			});

			var error_name = false;
			var error_address = false;
			var error_tel = false;
			var error_code = false;
			$('#username').blur(function(){
				check_username();
			})


			$('#useraddress').blur(function(){
				check_useraddress();
			})


			$('#ucode').blur(function(){
				check_ucode();
			})


			$('#uphone').blur(function(){
				check_uphone();
			})


			function check_username(){
				var value1 = $('#username').val().trim();
				var len=value1.length;
				if(len<2||len>20)
				{
					$('#username').next().html('*请输入2-20个字符的收件人姓名')
					$('#username').next().css('display','inline-block');
					error_name = true;
				}else{
					$('#username').next().hide();
					error_name = false;
				}
			}


			function check_useraddress(){
				var value1 = $('#useraddress').val().trim();
				var len=value1.length;
				if($('#dis').val()=='0'){
					$('#useraddress').next().html('*请选择省、市、区')
					$('#useraddress').next().css('display','inline-block');
					error_address = true;
				}else if(len<5||len>100)
				{
					$('#useraddress').next().html('*请输入5-100个字符的详细收件地址')
					$('#useraddress').next().css('display','inline-block');
					error_address = true;
				}else{
					$('#useraddress').next().hide();
					error_address = false;
				}
			}

			function check_ucode(){
				var re = /^\d{6}$/;

				if(re.test($('#ucode').val().trim()))
				{
					$('#ucode').next().hide();
					error_code = false;
				}
				else
				{
					$('#ucode').next().html('*你输入的邮编格式不正确')
					$('#ucode').next().css('display','inline-block');
					error_code = true;
				}

			}


			function check_uphone(){
				var re = /^1[3|4|5|8][0-9]\d{4,8}$/;

				if(re.test($('#uphone').val().trim()))
				{
					$('#uphone').next().hide();
					error_tel = false;
				}
				else
				{
					$('#uphone').next().html('*请输入11位数的手机号码')
					$('#uphone').next().css('display','inline-block');
					error_tel = true;
				}
			}



			$('#site_con_form1').submit(function(){
				check_username();
				check_useraddress();
				check_ucode();
				check_uphone();

				if(error_name == false && error_address == false &&
error_tel == false && error_code == false)
				{
					alert('添加成功!')
					return true;
				}
				else
				{
					return false;
				}

			})

		})
	</script>
	{% endblock header %}
    {% block right_search_page_center %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/usermode/user_center_info/">· 个人信息</a></li>
				<li><a href="user_center_order.html">· 全部订单</a></li>
				<li><a href="/usermode/user_center_site/" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
			<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form method="post" action="/usermode/addr_save/" id="site_con_form1">
						{% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" id="username" name="username">
							<div class="err_info">输入错误</div>
						</div>
						<div class="form_group form_group2" style="height: 150px">
							<label>详细地址：</label>
							<select value="0" id="pro" name="pro">
								<option value="0">请选择省</option>
								{% for x in shenlist %}
								<option value="{{x.id}}">{{x.atitle}}</option>
								{% endfor %}
							</select>
							<select value="0" id="city" name="city">
								<option value="0">请选择市</option>
							</select>
							<select value="0" id="dis" name="dis">
								<option value="0">请选择区</option>
							</select>
							<br>
							<textarea style="margin-left: 100px" class="site_area" id="useraddress" name="useraddress"></textarea>
							<div  class="err_info">输入错误</div>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" id="ucode" name="ucode">
							<div  class="err_info">输入错误</div>
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="tel" id="uphone" name="uphone">
							<div class="err_info">输入错误</div>
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>
{% endblock right_search_page_center %}